/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    .combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
        -fx-background-color: black ;
        -fx-text-fill: white ;
        -fx-font-family: "Quicksand SemiBold";
        -fx-background-radius: 4em;
    }

    .combo-box .combo-box-popup .list-cell:hover {
        -fx-text-fill: white ;
        -fx-background-color: #ff6e8e;
        -fx-background-radius: 4em;
    }

    .combo-box-popup > .list-view {
        -fx-pref-width: 200;
    }

    .combo-box .combo-box-popup .list-cell:focused {
        -fx-text-fill: white ;
        -fx-background-color: #f04369;
        -fx-background-radius: 4em;
    }

    .combo-box .combo-box-popup .list-cell:focused:hover {
        -fx-text-fill: white ;
        -fx-background-color: #ff6e8e;
        -fx-background-radius: 4em;
    }

    .combo-box-popup .list-view .list-cell {
        -fx-control-inner-background: transparent;
    } 

    .combo-box-popup .list-view {
        -fx-background-color: #f04369;
        -fx-background-radius: 1em;
    }






    .scroll-bar:horizontal .track,
        .scroll-bar:vertical .track{
        -fx-background-color :transparent;
        -fx-border-color :transparent;
        -fx-background-radius : 0em;
        -fx-border-radius :2em;
    }


    .scroll-bar:horizontal .increment-button ,
        .scroll-bar:horizontal .decrement-button {
        -fx-background-color :transparent;
        -fx-background-radius : 0em;
        -fx-padding :0 0 10 0;

    }

    .scroll-bar:vertical .increment-button ,
        .scroll-bar:vertical .decrement-button {
        -fx-background-color :transparent;
        -fx-background-radius : 0em;
        -fx-padding :0 10 0 0;

    }

    .scroll-bar .increment-arrow,
    .scroll-bar .decrement-arrow{
        -fx-shape : " ";    
    }

    .scroll-bar:vertical .increment-arrow,
        .scroll-bar:vertical .decrement-arrow{
        -fx-shape : " ";    
    }

    .corner {
        -fx-background-color: transparent;
    }

    .scroll-bar:horizontal .thumb,
        .scroll-bar:vertical .thumb {
        -fx-background-color : linear-gradient(to bottom, #ee4540, #c12c4e, #8e224e, #5b1d43, #2d142c);
        -fx-background-insets : 2, 0, 0;
        -fx-background-radius : 2em;
    }
    .scroll-bar:horizontal .thumb {
        -fx-background-color : linear-gradient(to right, #ee4540, #c12c4e, #8e224e, #5b1d43, #2d142c);
    }

    .scroll-bar:horizontal .thumb:hover,
        .scroll-bar:vertical .thumb:hover {
        -fx-background-color : linear-gradient(to bottom, #ff3e37, #db194d, #ae0a58, #7c1257, #4c154a);
        -fx-background-insets : 2, 0, 0;
        -fx-background-radius : 2em;
    }

    .scroll-bar:horizontal .thumb:hover {
        -fx-background-color : linear-gradient(to right, #ff3e37, #db194d, #ae0a58, #7c1257, #4c154a);
    }

    .scroll-bar:vertical {
        -fx-background-color: transparent;
    }
    .scroll-bar:horizontal {
        -fx-background-color: transparent;
    }

}
