/*
 * Empty Stylesheet file.
 */

.button {
    -fx-background-color: transparent;
    -fx-border-color: #bc0c54;

}

.button:hover {
    -fx-border-color: #791c48;
    -fx-background-color: transparent;
}

.button:pressed {
    -fx-border-color: #791c48;
    -fx-background-color: #791c48;
}